
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container" >
        <div class="row">
            <div class="col-12 col-md sendflow-logo">
                SendWave
                <small class="d-block mb-3 text-muted">&copy; 2025</small>
            </div>
            <div class="col-12 col-md sendflow-logo">

            </div>
            <div class="col-6 col-md ">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="hederlink" href="#">Главная</a></li>
                    <li><a class="hederlink" href="#">Рассылки</a></li>
                    <li><a class="hederlink" href="{% url 'customercrm:mailingrecipient_list' %}">Получатели</a></li>
                    <li><a class="hederlink" href="#">Шаблон(Сообщения)</a></li>
                    <li><a class="hederlink" href="#">Попытки рассылок</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="hederlink" href="#">Наши блоги</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="hederlink" href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
