{% extends 'customer_crm/base.html' %}
{% block title %}Получатели рассылок{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="md-4">Список получателей рассылки </h1>
        <a href="{% url 'customercrm:mailingrecipient_create' %}" class="btn btn-primary">Создать нового клиента для рассылки </a>
        <ul class="list-group">
            {% for mailingrecipient in  mailingrecipients %}
            <li class="list-group-item">
                <a href="{% url 'customercrm:mailingrecipient_detail' mailingrecipient.pk %}">{{ mailingrecipient.email }} {{ mailingrecipient.full_name}}</a>
                <a href="{% url 'customercrm:mailingrecipient_update' mailingrecipient.pk %}" class="btn btn-secondary">Редактировать</a>
                <a href="{% url 'customercrm:mailingrecipient_delete' mailingrecipient.pk %}" class="btn btn-danger">Удалить</a>
            </li>

            {% endfor %}
        </ul>
    </div>

{% endblock %}