{% extends 'customer_crm/base.html' %}
{% block title %}Получатели рассылок{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="md-4">Список сообщений </h1>
        <a href="{% url 'messagesmgmt:messagemanagement_create' %}" class="btn btn-primary">Создать новое сообщение для рассылки </a>
        <ul class="list-group">
            {% for messagemanagement in  messagemanagements %}
            <li class="list-group-item">
                <a href="{% url 'messagesmgmt:messagemanagement_detail' messagemanagement.pk %}">{{ messagemanagement.message_subject }}</a>
                <a href="{% url 'messagesmgmt:messagemanagement_update' messagemanagement.pk %}" class="btn btn-secondary">Редактировать</a>
                <a href="{% url 'messagesmgmt:messagemanagement_delete' messagemanagement.pk %}" class="btn btn-danger">Удалить</a>
            </li>

            {% endfor %}
        </ul>
    </div>

{% endblock %}